#mainDiv {
  margin: auto;
  margin-top: 10vh;
  width: min(90vh,90vw);
}

.vstack {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.hstack {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

td {
  margin: auto;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-align: right;
}